@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

$default_font: 'Open Sans', -apple-system, Helvetica, Arial, sans-serif;

html body {
  font-family: $default_font;
  font-size: 12px;

  a, blockquote, button, em, fieldset, h1, h2, h3, h4, h5, h6, input, label, p, select, span, textarea {
    font-family: $default_font;
  }
}
